#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(196, 196, 196, 0.4);
}

.photographer-profile {
    order: 1;
}

.photographer-photo {
    order: 3;
}

.photographer-encart {
    position: fixed;
    bottom: 0px;
    right: 36px;
    background: #DB8876;
    border-radius: 5px;
    height: 68px;
    width: 292px;
    padding: 0px 20px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    gap: 10px;
}

.photograph-header h2 {
    color: #D3573C;
    font-weight: 400;
    font-size: 44px;
    line-height: 83px;
    margin: 0;
    white-space: nowrap;
}

.photograph-header h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #901C1C;
    margin: 0;
}

.photograph-header h4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #525252;
    margin: 0;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.photograph-photos {
    display: flex;
    flex-wrap: wrap;
}

.photograph-photos figure {
    width: 25%;
    height: 250px;
    margin-top: 40px;
}

.photograph-photos figure img {
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
    height: inherit;
}

.photograph-photos figure video {
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
    height: inherit;
}

figcaption {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #901C1C;
    font-weight: 400;
    font-size: 15px;
    line-height: 31px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    order: 2;
    margin-top: 10px;
    white-space: nowrap;
}

.photograph-filtrage {
    margin: 20px 100px;
    font-weight: bold;
    font-size: 18px;
}

.photograph-filtrage select {
    background-color: #901C1C;
    font-size: 18px;
    color: #FFF;
    height: 60px;
    width: 170px;
    border-radius: 5px;
}

.photograph-filtrage select:focus {
    font-size: 18px;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px 35px;
    margin: auto;
    margin-top: 10px;
}

.modal header {
    width: 100%;
    height: auto;
    align-items: baseline;
}

.modal header img {
    cursor: pointer;
    width: 30px;
}

.modal header h2 {
    font-size: 44px;
    font-weight: normal;
    margin: 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    font-size: 28px;
}

form label {
    color: #312E2E;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 28px;
}

form textarea {
    width: 100%;
    height: 100px;
    font-size: 28px;
}

#lightbox_modal {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(196, 196, 196, 0.4);
}

#lightbox_modal header {
    justify-content: right;
    align-items: center;
    position: absolute;
    right: 40px;
}

#lightbox {
    display: flex;
}

#lightbox figure {
    width: 100%;
    height: 100%;
}

#lightbox figure img {
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
    height: 80vh;
}

#lightbox figure video {
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
    height: 80vh;
}


.lightbox{
    border: 2px solid #95FFF9;
    background-color: #FFF;
    margin: 20px;
}

.lightbox header img {
    cursor: pointer;
}

.carrousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#previous {
    margin-left: 20px;
}

#next {
    margin-right: 20px;
}
